.toUpBtn button {
  padding: 18px 24px;
  margin: 2rem 1rem;
  border-radius: 1rem;
  position: fixed;
  bottom: -6rem;
  right: 2rem;
  transition: 0.2s all ease-in-out;
  background-color: rgb(70, 41, 120);
  color: rgb(213, 234, 253);
  border: none;
}

.toUpBtn button.show {
  bottom: 0rem;
}

.toUpBtn button:hover {
  background-color: rgb(36, 8, 85);
}
