.transactionTable {
  margin: 50px 0 100px 100px;
  border-collapse: collapse;
  width: 40%;
  table-layout: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

th,
td {
  border: 2px solid #676565;
  padding: 8px;
  text-align: center;
  width: 25%;
  color: #090101;
}

tr:nth-child(even) {
  background-color: #d9ebe8;
}

th {
  background-color: #387d64b5;
  color: white;
}
