.castList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin: 20px 30px;
  width: 90%;
}

.castList li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  width: 200px;
  height: 370px;
  border: 1px solid rgb(61, 64, 76);
  padding: 8px;
}

.castImg {
  width: 200px;
  height: 275px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .castList {
    margin: 20px 50px;
  }
}

@media screen and (min-width: 1280px) {
  .castList {
    margin: 20px 100px 40px 50px;
  }
}
